html {
  background-color: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

section {
  background-color: #fff;
}

h2 {
  font-style: italic;
}

form div {
  padding-right: 1rem;
}

legend {
  padding-right: .5rem;
}
